:root {
  --bearnance-color-army-green: #7f9161;
  --bearnance-color-beige-100: #f8f4f0;
  --bearnance-color-beige-500: #98908b;
  --bearnance-color-blue: #3f82b2;
  --bearnance-color-brown: #93674f;
  --bearnance-color-cyan: #82c9d7;
  --bearnance-color-gold: #cab361;
  --bearnance-color-green: #277c78;
  --bearnance-color-grey-100: #f2f2f2;
  --bearnance-color-grey-300: #b3b3b3;
  --bearnance-color-grey-500: #696868;
  --bearnance-color-grey-900: #201f24;
  --bearnance-color-magenta: #934f6f;
  --bearnance-color-navy: #626070;
  --bearnance-color-navy-grey: #97a0ac;
  --bearnance-color-orange: #be6c49;
  --bearnance-color-pink: #af81ba;
  --bearnance-color-purple: #826cb0;
  --bearnance-color-red: #c94736;
  --bearnance-color-turquoise: #597c7c;
  --bearnance-color-white: #ffffff;
  --bearnance-color-yellow: #f2cdac;
  --bearnance-font-family-sans: 'Public Sans', sans-serif;
  --bearnance-font-size-text-preset-1: 2rem;
  --bearnance-font-size-text-preset-2: 1.25rem;
  --bearnance-font-size-text-preset-3: 1rem;
  --bearnance-font-size-text-preset-4: 0.875rem;
  --bearnance-font-size-text-preset-5: 0.75rem;
  --bearnance-font-weight-bold: 700;
  --bearnance-font-weight-regular: 400;
  --bearnance-line-height-text-preset-1: 2.4rem;
  --bearnance-line-height-text-preset-2: 1.5rem;
  --bearnance-line-height-text-preset-3: 1.5rem;
  --bearnance-line-height-text-preset-4: 1.3125rem;
  --bearnance-line-height-text-preset-5: 1.125rem;
  --bearnance-shadow-drop: 0 4px 24px 0 rgba(0, 0, 0, 0.25);
  --bearnance-spacing-50: 0.25rem;
  --bearnance-spacing-100: 0.5rem;
  --bearnance-spacing-150: 0.75rem;
  --bearnance-spacing-200: 1rem;
  --bearnance-spacing-250: 1.25rem;
  --bearnance-spacing-300: 1.5rem;
  --bearnance-spacing-400: 2rem;
  --bearnance-spacing-500: 2.5rem;
}
